/* Colors */
$black-color: rgb(6 1 27);
$white-color: #fff;
$primary-color: #5800eb;
$bright-white-color: #fff;

/* Typography */
$default-font-family: "Roboto", sans-serif;
$secondary-font-family: "Roboto Slab", serif;
$default-text-color: $white-color;
$base-font-size: 16px;

/* Sizes */
$spacer-increment: 0.25;

/* Z-Index */
$nav-index: 1000;
