/* Colors */
$black-color: rgb(6 1 27);
$white-color: #fff;
$primary-color: #5800eb;
$bright-white-color: #fff;

/* Typography */
$default-font-family: "Roboto", sans-serif;
$secondary-font-family: "Roboto Slab", serif;
$default-text-color: $white-color;
$base-font-size: 16px;

/* Sizes */
$spacer-increment: 0.25;
$breakpoints: (
  "tiny-orless": (
    max-width: 765px,
  ),
  "small-or-less": (
    max-width: 989px,
  ),
  "small-or-greater": (
    min-width: 600px,
  ),
  "medium-or-less": (
    max-width: 1199px,
  ),
  "medium-or-greater": (
    min-width: 900px,
  ),
  "large-or-greater": (
    min-width: 1200px,
  ),
);

/* Z-Index */
$nav-index: 1000;
$mobile-menu-z-index: 2000;
