@import "tokens";
@import "functions";

html {
  font-family: $default-font-family;
  font-size: $base-font-size;
}

body {
  color: $default-text-color;
  font-family: $default-font-family;
}

h1 {
  font-size: px-to-rem(80px);
}

h2 {
  font-size: px-to-rem(61px);
}

h1,
h2,
h3,
h4 {
  padding: spacer(4) 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $primary-color;
}

.app-link-lg {
  font-size: font-size(2);
}

.clamp-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.clamp-content {
  display: box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
