@import "tokens";
@import "typography";
@import "flex";
@import "mixins";

html,
body {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: $white-color;
  color: $primary-color;
}

#root {
  position: relative;
}

.app-lock-scroll {
  overflow-y: hidden;
}

.d-none-medium-or-less {
  @include breakpoint-mixin("medium-or-less") {
    display: none;
  }
}
