@import "tokens";
@import "typography";
@import "flex";

html,
body {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: $white-color;
  color: $primary-color;
}

#root {
  position: relative;
}
