@import "tokens";
@import "typography";
@import "flex";
@import "mixins";

body {
  --app-background-color: #{$background-color};
  --app-black-color: #{$black-color};
  --app-white-color: #{$white-color};
  --app-primary-color: #{$primary-color};
  --app-default-text-color: #{$default-text-color};
  --app-default-font-family: #{$default-font-family};
  --app-secondary-font-family: #{$secondary-font-family};

  // &.app-theme-dark {
  //   --app-background-color: #0a0a0a;
  //   --app-black-color: #0a0a0a;
  //   --app-white-color: #e3daeb;
  //   --app-primary-color: #320064;
  //   --app-default-text-color: #e3daeb;
  // }
  background: $background-color;
  color: $primary-color;
}

html,
body {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  position: relative;
}

.app-lock-scroll {
  overflow: hidden;
  height: 100vh;
}

.d-none-medium-or-less {
  @include breakpoint-mixin("medium-or-less") {
    display: none;
  }
}
