@import "../../../../styles/tokens";
@import "../../../../styles/functions";

.app-nav {
  position: sticky;
  top: 0;
  z-index: $nav-index;

  nav {
    background: $white-color;
  }

  .app-logo {
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-color;
    font-size: px-to-rem(117px);
    margin: 0;
    padding: 0;

    small {
      padding: 0 spacer(6);
      font-size: px-to-rem(56px);
    }
  }
}
