@import "../../../../styles/tokens";
@import "../../../../styles/functions";

.nav-observer {
  position: absolute;
  top: 200px;
}

.app-nav {
  transition: background-color 1s ease;
  position: sticky;
  top: 0;
  z-index: $nav-index;
  background-color: transparent;

  .app-logo {
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-color;
    font-size: px-to-rem(117px);
    margin: 0;
    padding: 0;

    small {
      padding: 0 spacer(6);
      font-size: px-to-rem(56px);
    }
  }
}

.nav-shadow {
  .app-nav {
    box-shadow: 10px 0 20px $primary-color;
    background-color: $white-color;
  }
}
