@import "../../../../styles/tokens";
@import "../../../../styles/functions";
@import "../../../../styles/mixins";

.app-nav {
  transition: background-color 1s ease;
  position: sticky;
  top: 0;
  z-index: $nav-index;
  background-color: transparent;

  nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;

    @include breakpoint-mixin("medium-or-less") {
      padding: 0;
    }
  }

  .nav-link-bank {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    right: spacer(6);
    top: 0;

    > .social-icon-item svg {
      color: $white-color;
    }
  }

  .header-mobile-menu-button {
    top: 0;
    filter: brightness(20);
  }

  .app-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 0;
    filter: brightness(20);

    img {
      transition: all 0.25s ease;
      max-width: 200px;

      &:hover {
        filter: drop-shadow(0 0 200px $primary-color);
      }
    }
  }
}

/* finicky */
.nav-observer {
  position: absolute;
  bottom: 100%;
  height: 200px;
  width: 200px;
  pointer-events: none;
  top: 0;
}

.nav-shadow {
  .app-nav {
    box-shadow: 10px 0 20px $primary-color;
    background-color: $white-color;

    .header-mobile-menu-button {
      filter: initial;
    }

    .nav-link-bank {
      > .social-icon-item svg {
        color: $primary-color;
      }
    }

    .app-logo {
      padding: 10px 0;
      filter: initial;

      img {
        max-width: 100px;
      }
    }
  }
}
