@import "../../styles/tokens";
@import "../../styles/functions";
@import "../../styles/mixins";

.social-icon-item {
  a {
    display: inline-block;
    margin: spacer(2);
    font-size: 1.75rem;
    transition: all 1s ease;

    &:hover {
      transform: translateY(-5px);
    }
  }

  &.inverted {
    a {
      color: $white-color;
    }
  }
}
