@import "../../styles/functions";
@import "../../styles/mixins";

.section-title {
  text-align: center;
  max-width: px-to-rem(936px);
  margin-left: auto;
  margin-right: auto;

  .hr {
    margin: 0 0 3.3rem;
    border-style: dotted;
    border-bottom: 0;
    border-width: 0.3rem;

    @include breakpoint-mixin("medium-or-less") {
      border-width: 0.2rem;
    }
  }
}
