@import "../../styles/functions";

.section-title {
  text-align: center;
  max-width: px-to-rem(936px);
  margin-left: auto;
  margin-right: auto;

  .hr {
    margin: 0 0 3.3rem;
    border-style: dotted;
    border-width: spacer(2);
    border-bottom: 0;
  }
}
