@import "../../../../../../../styles/tokens";
@import "../../../../../../../styles/functions";

.textarea {
  height: 100%;

  textarea {
    width: 100%;
    resize: none;
    height: 100%;
    padding: spacer(4);
    font-size: font-size(2);
    color: $black-color;
    font-family: $secondary-font-family;
    border-radius: px-to-rem(10px);

    &::placeholder {
      font-family: $default-font-family;
      color: $primary-color;
      font-size: font-size(3);
    }
  }
}
