@import "../../styles/tokens";
@import "../../styles/functions";
@import "../../styles/mixins";

.wave-svg-container {
  position: relative;

  > svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;

    path {
      fill: $primary-color;
    }
  }
}

.wave-container {
  width: 100%;
  padding: spacer(24) 0;
  color: $white-color;

  a {
    color: $white-color;
  }

  &.wave-bottom {
    padding: 0;
  }
}
