@import "../../styles/tokens";
@import "../../styles/functions";

.wave-container {
  width: 100%;
  background: url("./assets/wave-bg.svg") no-repeat center center;
  background-size: 100%;
  padding: spacer(24) 0;
  color: $white-color;

  a {
    color: $white-color;
  }

  &.wave-bottom {
    background: url("./assets/wave-bottom.svg") no-repeat center center;
    padding: 0;
  }
}
