@import "../../../../../styles/functions";
@import "../../../../../styles/mixins";

.about-section {
  color: $white-color;

  .flex-grid {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint-mixin("small-or-less") {
      flex-direction: column;
      text-align: center;

      .app-link-container {
        margin-top: spacer(4);
        justify-content: center;
        align-items: center;
      }
    }
  }
}
