@import "../../../../../../../styles/tokens";
@import "../../../../../../../styles/functions";

.card {
  min-width: 300px;

  .card-link-wrapper {
    margin: spacer(4);
    overflow: hidden;
    border-radius: px-to-rem(5px);
    background-color: $primary-color;
    color: $white-color;
    transition: all 1s ease;
    display: flex;
    flex-direction: column;

    &:hover,
    &:focus {
      box-shadow: 0 5px 10px $primary-color;
      transform: translateY(px-to-rem(-10px));
    }

    .card-content {
      padding: 0 spacer(4) spacer(4);
    }
  }

  .read {
    width: 100%;
    text-align: right;
    display: block;
    padding: 0 spacer(4) spacer(4);
    text-transform: uppercase;
    font-weight: bold;
  }
}
