@import "../../styles/tokens";
@import "../../styles/functions";
@import "../../styles/mixins";

.contentful-to-react {
  p {
    line-height: 1.7;
    font-size: font-size(0.7);

    + p {
      padding-top: spacer(4);
    }
    color: $black-color;
  }

  h2 {
    background-color: $primary-color;
    color: $white-color;
    padding: 1rem;
  }

  h3 {
    margin: spacer(10) 0 spacer(0);
  }

  h3:first-of-type {
    margin-top: 0;
  }

  h3 {
    font-size: $base-font-size * 1.75;
  }

  a {
    text-decoration: underline;
  }

  .contentful-to-react-image-container {
    img {
      padding: spacer(12) 0 spacer(2);
    }

    p {
      text-align: center;
      padding-bottom: spacer(6);
      font-size: font-size(-0.5);
    }
  }

  ul li {
    margin-bottom: 1rem;
  }
}
