@import "../../../../../../../styles/tokens";
@import "../../../../../../../styles/functions";

.radio-fieldset {
  border: none;
  padding: 0;

  legend {
    color: $primary-color;
    background: $white-color;
    font-size: 1.2rem;
    padding: spacer(2) spacer(4);
    border-radius: px-to-rem(10px);
    font-weight: bold;
    margin-bottom: spacer(4);
    text-transform: uppercase;
  }
}
