@import "../../../../../../../styles/tokens";
@import "../../../../../../../styles/functions";

.content-block {
  display: inline-block;
  max-width: 400px;
  padding: 0 spacer(4);

  h3 {
    margin-bottom: spacer(4);
  }

  p {
    font-size: px-to-rem(18px);
  }
}
