@import "../../styles/functions";

.section,
.section-wider {
  margin-right: auto;
  margin-left: auto;
  padding: 3rem 2rem 5rem;
}

.section {
  max-width: 1000px;
}

.section-wider {
  max-width: 1200px;
}
