@import "../../styles/functions";

.section,
.section-wider {
  padding: spacer(12) spacer(8);
  margin-right: auto;
  margin-left: auto;
}

.section {
  max-width: 1000px;
}

.section-wider {
  max-width: 1200px;
}
