@import "../../styles/functions";

.section {
  padding: spacer(12) spacer(8);
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.section-wider {
  padding: spacer(12) spacer(8);
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
