@import "../../../../../styles/functions";

.contact-form-section {
  background-color: $primary-color;

  .row {
    display: flex;
    flex-flow: row wrap;

    .col-3 {
      flex: 1 1 30%;
    }

    .col-7 {
      flex: 1 1 70%;
    }
  }
}
