@import "../../../../../styles/functions";
@import "../../../../../styles/mixins";

.contact-form {
  color: $white-color;

  .contact-form-section {
    .row {
      &:nth-child(n + 2) {
        margin-top: spacer(10);
      }

      @include breakpoint-mixin("medium-or-less") {
        &.contact-form-name-row {
          margin-top: spacer(4);

          & > [class*="col-"] {
            width: 100%;
            flex-basis: 100%;

            &:last-of-type {
              margin-top: spacer(4);
            }
          }
        }
      }
    }
  }
}
